body {
	width: auto;
	margin: 0 auto;
	background-color: lightgrey;
	border: 5px solid black;
	padding: 20px 20px 20px 20px;
}

html {
	background-color: darkgrey;
	padding: 60px 60px 60px 60px;
}

h1 {
	text-align: center;
	font-size: 72px;
}

h2 {
	text-align: center;
	font-size: 48px;
}

div.spacer {
	margin: 5% auto;
	padding: 5px 10%;
	background-color: grey;
}

p.subtitle {
	text-align: center;
	font-size: 36px;
}

p#under-thingy {
	text-align: center;
}
